
.top_part{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding:10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(7, 7, 7, 0.103);
    margin-top: 20px;
}
.search_box{
    display: flex;
    flex-wrap: wrap;
}
.search_box .date_debut{
    padding-right: 20px;
}
.search_box .date_debut input{
    width: 160px;
    font-size: 13px;
}
.add_btn p{
    margin-top: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: var(--primary);
    cursor: pointer;
}
.add_btn p:hover{
    color: var(--active);
    transition: .5s;
}
.top_part .search_box input{
    border: 2px solid var(--primary);
    height: 25px;
    padding-left: 10px;
    border-radius: 3px;
    /* margin-top: 4px; */
    outline: none;
}
.top_part button{
    background-color: var(--primary);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
}
.top_part button:hover{
    background-color: var(--active);
    transition: .5s;
}




.cat_list{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding:15px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(7, 7, 7, 0.103);
    margin-top: 20px;
}
table{
    margin: 0 auto;
    width: 100%;
    max-height: 80%;
    scrollbar-color: var(--primary);
    border-collapse: collapse;
}
.table{
    max-height: 455px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) #E0E5F3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(7, 7, 7, 0.103);
   
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary);
}
thead{
    position: sticky;
    top: 0;

}
thead tr{
    border-radius: 10px;
}
tr th{
    padding: 8px 05px;
    background-color: var(--primary);
    /* border-radius: 5px; */
    color: white;
    font-size: 12px;
    font-weight: normal;
    margin: 0px 5px;
}

tr td{
    text-align: center;
    font-size: 12px;
    padding: 5px 0px;
}
tr td button{
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

tr td button:hover{
    background-color: var(--active);
    transition: .3s;
    border-radius: 0px;
}
tr td span{
    color: green;
    font-weight: 600;
}
tr td #ina{
    color: rgb(249, 56, 56);;
}
tr td #des{
    background-color: rgb(249, 56, 56);
    padding: 05px 10px;
    font-size: 11px;
}
tr td #act{
    background-color: rgb(7, 111, 11);
    padding: 1px 10px;
    font-size: 12px;
}
tr #des_td{
    color: var(--grey);
}
table tbody tr{
    border-bottom: 1px solid var(--primary);
}
tr:nth-child(even){
    background: rgb(241, 241, 241);

}
 tbody #tot{
    bottom: 0px;
    background-color: var(--primary) !important;
    position: sticky;
   
}
tbody #tot td{
    padding: 7px 0px;
    color: white;
    font-weight: 500;
    font-size: 13px;
}
