
.top_part{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding:05px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(7, 7, 7, 0.103);
    margin-top: 20px;
}
.top_part .search_box input{
    border: 3px solid var(--primary);
    height: 13px;
    padding: 10px;
    border-radius: 3px;
    margin-top: 4px;
    outline: none;
    
}
.top_part .cart_icon{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 100px;
}
.top_part .cart_icon i{
    color: var(--white);
    /* font-size: 25px; */
}
.top_part .cart_icon span{
    background-color: red;
    border-radius: 100px;
    padding:0px 5px;
    font-size: 10px;
    color: var(--white);
    font-weight: 700;
}


/* ------------------------------------------------------------ */
.vente-content{
    display: flex;
    
}
.cart{
    background-color: white;
    margin-top: 20px;
    width: 100%;
    margin-right: 15px;
    border-radius: 10px;
    padding: 20px 0px 0px 0px;
}
.cart h5{
    text-align: center;
}
.cart .text p{
    font-size: 12px;
    font-weight: 600;
}
.cart .items{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid var(--primary);
}
.cart .items .buttons{
    display: flex;
}
.cart .items .buttons .decrement,.number,.increment{
    padding: 0px 10px;
    cursor: pointer;
}
.cart .items .buttons .decrement,.increment{
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    margin:4px 0px 5px 0px;
}
.number p{
    margin-top: 5px;
}
.total-cart{
    position: fixed;
    bottom: 10px;
}
.total-cart p{
    font-size: 12px;
    font-weight: 600;
}
.montant{
    display: flex;
    margin-left: 10px;
}
.input input{
    width: 80%;
}

.product_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
    padding:20px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(7, 7, 7, 0.103);
    /* gap: 10px; */
    overflow-Y: scroll;
    max-height: 440px;

}
.product_card{
    background-color: var(--down);
    padding:10px 30px;
    border-radius: 10px;
    margin: 10px 10px;
    width: 13%;
}
.product_card h3{
    font-size: 15px;
}
.qty p{
    font-size: 13px; 
    font-weight: 500;
}
.qty span{
    background-color: var(--primary);
    color: white;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: normal;
}
.price p{
    font-size: 13px;
    color: var(--primary); 
    font-size: 13px;
    font-weight: 500;
}
.cart_btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.cart_qty input{
    width: 50px;
    border: 1px solid var(--primary);
    height: 27px;
    border-radius: 3px 0px 0px 3px;
}
.add_btn button{
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 5px;
    border-radius: 0px 3px 3px 0px;
}